<ion-header text-center>
  <ion-toolbar>
    <ion-title>Temperatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Temperatura</ion-card-subtitle>
      <ion-card-title>Primer Piso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Cocina</ion-label>
          <ion-badge slot="end">26°C</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Comedor</ion-label>
          <ion-badge slot="end">22°C</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Living</ion-label>
          <ion-badge slot="end">23°C</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Baño</ion-label>
          <ion-badge slot="end">20°C</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Temperatura</ion-card-subtitle>
      <ion-card-title>Segundo Piso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Habitación 1</ion-label>
          <ion-badge slot="end">23°C</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Habitación 2</ion-label>
          <ion-badge slot="end">22°C</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Habitación 3</ion-label>
          <ion-badge slot="end">24°C</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Baño</ion-label>
          <ion-badge slot="end">19°C</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
