<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="temperatura">
      <ion-icon name="thermometer"></ion-icon>
      <ion-label>Temperatura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="humedad">
      <ion-icon name="water"></ion-icon>
      <ion-label>Humedad</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="alertas">
      <ion-icon name="warning"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
