<ion-header>
  <ion-toolbar color="success tint">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
  Estado: {{ estado }}
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="color1">
          <ion-card-header>
            <img class="temp" src="/assets/fire.gif" alt="" />
            <ion-card-title>24°C</ion-card-title>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="color2">
          <ion-card-header>
            <img class="humCont" src="/assets/water.gif" alt="" />
            <h2>40%</h2>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="color3">
          <ion-card-header>
            <img class="humCont" src="/assets/smoke.gif" alt="" />
            <h2>XX</h2>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content> 
