<ion-header>
  <ion-toolbar color="success tint">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alertas</ion-card-subtitle>
      <ion-card-title>Primer Piso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Temperatura elevada Cocina</ion-label>
          <ion-badge slot="end">30°C</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Humedad elevada Baño</ion-label>
          <ion-badge slot="end">60%</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alertas</ion-card-subtitle>
      <ion-card-title>Segundo Piso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Sin alertas</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
