<ion-header text-center>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="welcome-card">
          <img src="/assets/general.png" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Temperatura</ion-card-subtitle>
            <ion-card-title>General</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>La temperatura general de la casa es de #(Temperatura)</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="welcome-card">
          <img src="/assets/humedad.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Humedad</ion-card-subtitle>
            <ion-card-title>General</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>La humedad general de la casa es de #(Humedad)</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card class="welcome-card">
            <img src="/assets/Alerta.png" alt="" class="alertImg" />
            <ion-card-header>
              <ion-card-subtitle>Alertas</ion-card-subtitle>
              <ion-card-title>General</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>No hay alertas nuevas</p>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
